<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/chat.css" />
    <title>Chat</title>
</head>
<body>

<div class="grid">
	<div class="column">
		<div class="text-container">
			<div id="chat-container"></div>
			<textarea id="chat-username"></textarea>
			<textarea id="chat-input"></textarea>
		</div>
	</div>
</div>

<script src="/javascripts/chat.js"></script>
</body>
</html>
